{% if behaviour == 'scroll_to_top' %}
	<button class='pagepilot-button pp-button--primary {{ class }}' onclick='scrollToAddButton()'>
		{{ label }}
	</button>
{% else %}
	<a
		href='{{ link }}'
		class='pagepilot-button pp-button--primary {{ class }}'
		onclick='handleLinkClick(event, "{{ link }}")'>
		{{ label }}
	</a>
{% endif %}

{% if behaviour == 'scroll_to_top' %}
	<script>
		function scrollToAddButton() {
			const productTitle = document.querySelector('.pp-product-title');
			const addButton = document.querySelector('button[name="add"]');

			if (productTitle) {
				window.scrollTo({
					top: productTitle.offsetTop - 150,
					behavior: 'smooth',
				});
			} else if (addButton) {
				addButton.scrollIntoView({
					behavior: 'smooth',
					block: 'center',
				});
			} else {
				window.scrollTo({
					top: 0,
					behavior: 'smooth',
				});
			}
		}
	</script>
{% else %}
	<script>
		function handleLinkClick(event, link) {
			if (link.startsWith('#') || link.startsWith('.')) {
				event.preventDefault();

				const element = document.querySelector(link);
				if (element) {
					element.click();
				}
			}
		}
	</script>
{% endif %}
