{% assign icons_style = 'max-width: ' | append: icons_size | append: 'px;' %}

{% assign guarantee_1_icon_resolved = guarantee_1_icon | default: 'truck' %}
{% assign guarantee_2_icon_resolved = guarantee_2_icon | default: 'heart' %}
{% assign guarantee_3_icon_resolved = guarantee_3_icon | default: 'refresh' %}

<div class='pp-grid pp-grid-cols-3 pp-gap-4'>
  {% if guarantee_1_text != blank %}
    <div class='pp-flex pp-flex-col pp-items-center pp-justify-start pp-gap-2'>
      <div class='pp-icon-wrapper pp-selectable' data-icon='{{ guarantee_1_icon_resolved }}'>
        {% render 'pp-icons-v1-0-0',
          icon: guarantee_1_icon_resolved,
          class: 'pp-fill-black pp-w-full',
          style: icons_style
        %}
      </div>
      <div class='pp-text-center pp-text-sm'>{{ guarantee_1_text }}</div>
    </div>
  {% endif %}

  {% if guarantee_2_text != blank %}
    <div class='pp-flex pp-flex-col pp-items-center pp-justify-start pp-gap-2'>
      <div class='pp-icon-wrapper pp-selectable' data-icon='{{ guarantee_2_icon_resolved }}'>
        {% render 'pp-icons-v1-0-0',
          icon: guarantee_2_icon_resolved,
          class: 'pp-fill-black pp-w-full',
          style: icons_style
        %}
      </div>
      <div class='pp-text-center pp-text-sm'>{{ guarantee_2_text }}</div>
    </div>
  {% endif %}

  {% if guarantee_3_text != blank %}
    <div class='pp-flex pp-flex-col pp-items-center pp-justify-start pp-gap-2'>
      <div class='pp-icon-wrapper pp-selectable' data-icon='{{ guarantee_3_icon_resolved }}'>
        {% render 'pp-icons-v1-0-0',
          icon: guarantee_3_icon_resolved,
          class: 'pp-fill-black pp-w-full',
          style: icons_style
        %}
      </div>
      <div class='pp-text-center pp-text-sm'>{{ guarantee_3_text }}</div>
    </div>
  {% endif %}
</div>