{% comment %}
	Photo Gallery Snippet
	Accepts:
	- image: string (URL of the main image)
	- all_images: array of strings (URLs of all images)
{% endcomment %}

<style>
	@media screen and (max-width: 767px) {
		.border-radius-left-0 {
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}
		.border-radius-right-0 {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
	}
</style>

<div class='pp-flex pp-w-full pp-flex-row md:pp-flex-col pp-items-center pp-justify-center md:pp-max-w-[750px]'>
	<div class='pp-w-full pp-max-h-[550px] pp-aspect-square pp-hidden md:pp-flex md:pp-justify-center md:pp-items-center pp-overflow-hidden pp-relative'>
		<img
			id='pp-main-product-image'
			src='{% if selected_variant.featured_media.src %}{{ selected_variant.featured_media.src | image_url: width: 1000 }}{% else %}{{ all_images[0].src | image_url: width: 1000 }}{% endif %}'
			alt='Product image'
			class='pp-w-auto pp-h-auto pp-object-contain pp-object-center pp-max-w-full pp-max-h-full pp-absolute pp-top-1/2 pp-left-1/2 -pp-translate-x-1/2 -pp-translate-y-1/2'
			style='opacity: 0; border-radius: calc(var(--pp-border-radius) * 1.5);'
			width='100%'
			height='100%'>
	</div>

	{% if all_images.size > 0 %}
		<div
			id='pp-image-scroll-container'
			class='pp-w-full pp-flex pp-flex-row md:pp-grid md:pp-grid-cols-6 pp-items-center pp-gap-2 md:pp-gap-4 md:pp-py-6 pp-overflow-x-scroll pp-no-scrollbar'
			style='scrollbar-width: none; -ms-overflow-style: none;'>
			{% if selected_variant.featured_media.src %}
				<div
					onclick="ppSetCurrentImage('{{ selected_variant.image | image_url: width: 1000 }}', this)"
					data-id='{{ selected_variant.featured_media.id }}'
					class='pp-w-10/12 md:pp-w-full pp-shrink-0 md:pp-shrink pp-snap-start pp-overflow-hidden pp-thumbnail pp-aspect-square border-radius-left-0'
					style='border-radius: calc(var(--pp-border-radius) * 0.75);'>
					<img
						src='{{ selected_variant.featured_media.src | image_url: width: 1000 }}'
						alt='Product image'
						class='pp-h-full pp-w-full hover:pp-cursor-pointer md:pp-object-cover pp-object-contain pp-object-center'
						width='100%'
						height='100%'>
				</div>
			{% endif %}

			{% if selected_variant.featured_media.src %}
				{% assign imagesNumber = all_images.size | minus: 1 %}
			{% else %}
				{% assign imagesNumber = all_images.size %}
			{% endif %}
			{% for img in all_images %}
				{% if selected_variant.image != blank and img.src == selected_variant.image.src %}
					{% continue %}
				{% endif %}
				<div
					onclick="ppSetCurrentImage('{{ img | image_url: width: 1000 }}', this)"
					data-id='{{ img.id }}'
					class='pp-w-10/12 md:pp-w-full pp-shrink-0 md:pp-shrink pp-snap-start pp-overflow-hidden pp-thumbnail pp-aspect-square {% if selected_variant.featured_media.src == blank and forloop.index == 1 %}border-radius-left-0{% endif %} {% if forloop.index == imagesNumber %}border-radius-right-0{% endif %}'
					style='border-radius: calc(var(--pp-border-radius) * 0.75);'>
					<img
						src='{{ img.src | image_url: width: 1000 }}'
						alt='Product image'
						class='pp-h-full pp-w-full hover:pp-cursor-pointer md:pp-object-cover pp-object-contain pp-object-center'
						width='100%'
						height='100%'>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>

<script>
	function ppHandleArrowScrollBar(scrollOffset) {
		const container = document.getElementById('pp-image-scroll-container');
		if (container) {
			container.scrollLeft += scrollOffset;
		}
	}

	function ppSetCurrentImage(newImageUrl, clickedThumbnail) {
		if (window.innerWidth < 768) return;

		const mainImage = document.getElementById('pp-main-product-image');
		if (mainImage) {
			mainImage.src = newImageUrl;
		}

		// Remove 'active' class from all thumbnails
		document.querySelectorAll('.pp-thumbnail').forEach(thumbnail => {
			thumbnail.classList.remove('pp-border', 'pp-border-black', 'pp-border-opacity-20');
		});

		// Add 'active' class to clicked thumbnail
		clickedThumbnail.classList.add('pp-border', 'pp-border-black', 'pp-border-opacity-20');
	}
</script>
