<div class='pp-flex pp-gap-4 pp-items-center'>
	<div>
		<div class='pp-w-[70px] pp-h-[70px] pp-flex pp-items-center pp-justify-center pp-rounded-full pp-overflow-hidden pp-bg-black/5'>
			{% if image != blank %}
				<img
					class='pp-w-full pp-h-full pp-object-cover pp-rounded-full'
					src='{{ image | image_url: width: 70 }}'
					alt='Reviewer'
					width='70'
					height='70'>
			{% else %}
				{{ 'product-1' | placeholder_svg_tag }}
			{% endif %}
		</div>
	</div>
	<div class='pp-flex pp-flex-col pp-gap-2'>
		<div class='pp-flex pp-gap-0.5'>
			{% for i in (1..rating) %}
				<svg
					xmlns='http://www.w3.org/2000/svg'
					class='pp-w-4 pp-h-4'
					style='fill: {{ stars_color }}'
					viewBox='0 0 256 256'>
					<path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path>
				</svg>
			{% endfor %}
		</div>

		<div class='pp-text-xs sm:pp-text-sm'>
			{{ review }}
		</div>

		<div class='pp-flex pp-gap-2 pp-items-center pp-text-sm pp-font-semibold'>
			<svg xmlns='http://www.w3.org/2000/svg' class='pp-w-4 pp-h-4 pp-fill-[#2c95e9]' viewBox='0 0 256 256'>
				<path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path>
			</svg>
			{{ name }}
		</div>
	</div>
</div>
