{% style %}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top_mobile }}px;
	  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}
	.section-{{ section.id }}-margin {
	  margin-top: {{ section.settings.margin_top_mobile }}px;
	  margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	  .section-{{ section.id }}-margin {
	    margin-top: {{ section.settings.margin_top }}px;
	    margin-bottom: {{ section.settings.margin_bottom }}px;
	  }
	}
{% endstyle %}

{% assign section_background = '' %}

{% if section.settings.section_background != blank %}
	{% assign section_background = 'background: ' | append: section.settings.section_background | append: ';' %}
{% endif %}

{% assign desktop_content_alignment = section.settings.desktop_content_alignment %}
{% assign mobile_content_alignment = section.settings.mobile_content_alignment %}
{% assign icon_style = 'max-width: ' | append: section.settings.icon_size | append: 'px;' %}

<div
	class='pagepilot-section pagepilot-cta section-{{ section.id }}-padding section-{{ section.id }}-margin'
	style='{{ section_background }}'>
	<div class='pagepilot-wrapper'>
		<div class='pp-container pp-mx-auto pp-w-full pp-justify-center'>
			<div class='pp-flex pp-flex-col pp-gap-8 pp-m-auto pp-items-{{ section.settings.mobile_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }} md:pp-items-{{ section.settings.desktop_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }}'>
				<div>
					{% render 'pp-icons-v1-0-0',
						icon: section.settings.guarantee_icon,
						class: 'pp-mx-auto pp-fill-black pp-w-full',
						style: icon_style
					%}
				</div>
				{% for block in section.blocks %}
					{% case block.type %}
						{% when 'heading' %}
							<h2 class='pp-w-full pp-text-heading-lg sm:pp-text-heading-2xl pp-font-semibold pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }}'>
								{{ block.settings.heading }}
							</h2>
						{% when 'text' %}
							<p class='pp-text-lg md:pp-text-xl pp-w-full pp-leading-7 pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }} {% if section.settings.desktop_content_alignment == 'center' %}md:pp-max-w-8xl{% endif %}'>
								{{ block.settings.text }}
							</p>
						{% when 'button' %}
							{% if block.settings.button_label != blank %}
								{% render 'pp-button-v1-0-0',
									link: block.settings.button_link,
									label: block.settings.button_label,
									behaviour: block.settings.button_behaviour,
									class: 'pp-w-full md:pp-w-fit'
								%}
							{% endif %}
					{% endcase %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "PP Call to Action",
	"class": "section",
	"settings": [
		{
			"type": "select",
			"id": "guarantee_icon",
			"label": "Icon",
			"options": [
				{
					"value": "back",
					"label": "Back"
				},
				{
					"value": "box",
					"label": "Box"
				},
				{
					"value": "certification",
					"label": "Certification"
				},
				{
					"value": "checkmark-circle",
					"label": "Checkmark Circle"
				},
				{
					"value": "checkmark",
					"label": "Checkmark"
				},
				{
					"value": "clockwise",
					"label": "Clockwise"
				},
				{
					"value": "coins",
					"label": "Coins"
				},
				{
					"value": "credit-card",
					"label": "Credit Card"
				},
				{
					"value": "cube",
					"label": "Cube"
				},
				{
					"value": "discount",
					"label": "Discount"
				},
				{
					"value": "dollar-bill",
					"label": "Dollar Bill"
				},
				{
					"value": "globe",
					"label": "Globe"
				},
				{
					"value": "hand-coins",
					"label": "Hand with Coins"
				},
				{
					"value": "hand-heart",
					"label": "Hand with Heart"
				},
				{
					"value": "handshake",
					"label": "Handshake"
				},
				{
					"value": "heart",
					"label": "Heart"
				},
				{
					"value": "headset",
					"label": "Headset"
				},
				{
					"value": "peace",
					"label": "Peace"
				},
				{
					"value": "people",
					"label": "People"
				},
				{
					"value": "person",
					"label": "Person"
				},
				{
					"value": "phone",
					"label": "Phone"
				},
				{
					"value": "question",
					"label": "Question"
				},
				{
					"value": "shield",
					"label": "Shield"
				},
				{
					"value": "smiley-face",
					"label": "Smiley Face"
				},
				{
					"value": "sparkle",
					"label": "Sparkle"
				},
				{
					"value": "star",
					"label": "Star"
				},
				{
					"value": "success",
					"label": "Success"
				},
				{
					"value": "thumbs-up",
					"label": "Thumbs Up"
				},
				{
					"value": "trophy",
					"label": "Trophy"
				},
				{
					"value": "truck",
					"label": "Truck"
				},
				{
					"value": "user-plus",
					"label": "User Plus"
				}
			],
			"default": "heart"
		},
		{
			"type": "range",
			"id": "icon_size",
			"label": "Icon size",
			"min": 20,
			"max": 100,
			"step": 2,
			"default": 72
		},
		{
			"type": "select",
			"id": "desktop_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Desktop content alignment"
		},
		{
			"type": "select",
			"id": "mobile_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Mobile content alignment"
		},
		{
			"type": "color_background",
			"id": "section_background",
			"label": "Background color"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin (mobile)",
			"default": 30
		}
	],
	"blocks": [
		{
			"type": "heading",
			"name": "Heading",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"default": "Try it risk-free with our 30-day Money-back Guarantee",
					"label": "Heading"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"limit": 1,
			"settings": [
				{
					"type": "textarea",
					"id": "text",
					"default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
					"label": "Text"
				}
			]
		},
		{
			"type": "button",
			"name": "Button",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "button_behaviour",
					"label": "Button Behaviour",
					"default": "link",
					"options": [
						{
							"value": "link",
							"label": "Link"
						},
						{
							"value": "scroll_to_top",
							"label": "Scroll to Top"
						}
					]
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "Shop Now",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				}
			]
		}
	],
	"presets": [
		{
			"name": "PP Call to Action",
			"blocks": [
				{
					"type": "heading"
				},
				{
					"type": "text"
				},
				{
					"type": "button"
				}
			]
		}
	]
}
{% endschema %}
