{% style %}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top_mobile }}px;
	  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}
	.section-{{ section.id }}-margin {
	  margin-top: {{ section.settings.margin_top_mobile }}px;
	  margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	  .section-{{ section.id }}-margin {
	    margin-top: {{ section.settings.margin_top }}px;
	    margin-bottom: {{ section.settings.margin_bottom }}px;
	  }
	}
{% endstyle %}

{% assign section_background = '' %}

{% if section.settings.section_background != blank %}
	{% assign section_background = 'background: ' | append: section.settings.section_background | append: ';' %}
{% endif %}

<div
	class='pagepilot-section pagepilot-custom-liquid section-{{ section.id }}-padding section-{{ section.id }}-margin'
	style='{{ section_background }}'>
	<div class='pagepilot-wrapper'>
		{{ section.settings.custom_liquid }}
	</div>
</div>

{% schema %}
{
	"name": "PP Custom Liquid",
	"tag": "section",
	"class": "section",
	"settings": [
		{
			"type": "liquid",
			"id": "custom_liquid",
			"label": "Custom Liquid",
			"info": "Add custom liquid here"
		},
		{
			"type": "color_background",
			"id": "section_background",
			"label": "Background color"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding (mobile)",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding (mobile)",
			"default": 0
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin",
			"default": 0
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin",
			"default": 0
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin (mobile)",
			"default": 0
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin (mobile)",
			"default": 0
		}
	],
	"presets": [
		{
			"name": "PP Custom Liquid"
		}
	]
}
{% endschema %}
