{% style %}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top_mobile }}px;
	  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}
	.section-{{ section.id }}-margin {
	  margin-top: {{ section.settings.margin_top_mobile }}px;
	  margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	  .section-{{ section.id }}-margin {
	    margin-top: {{ section.settings.margin_top }}px;
	    margin-bottom: {{ section.settings.margin_bottom }}px;
	  }
	}
{% endstyle %}

{% assign section_background = '' %}

{% if section.settings.section_background != blank %}
	{% assign section_background = 'background: ' | append: section.settings.section_background | append: ';' %}
{% endif %}

{% assign desktop_content_alignment = section.settings.desktop_content_alignment %}
{% assign mobile_content_alignment = section.settings.mobile_content_alignment %}

<div
	class='pagepilot-section pagepilot-differences section-{{ section.id }}-padding section-{{ section.id }}-margin'
	style='{{ section_background }}'>
	<div class='pagepilot-wrapper'>
		<div class='pp-container pp-mx-auto pp-w-full pp-grid md:pp-grid-cols-2 pp-gap-10 md:pp-gap-20 pp-justify-center pp-items-center'>
			<div class='pp-flex pp-flex-col pp-justify-{{ section.settings.content_position }} pp-gap-8 {% if section.settings.layout == 'text_first' %}pp-order-1{% else %}pp-order-2{% endif %}'>
				<h2 class='pp-text-heading-lg sm:pp-text-heading-2xl pp-font-semibold pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }}'>
					{{ section.settings.heading }}
				</h2>
				<p class='pp-text-base md:pp-text-lg pp-leading-7 pp-break-words pp-max-w-full pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }}'>
					{{ section.settings.description }}
				</p>

				{% if section.settings.button_label != blank %}
					<div class='pp-flex pp-justify-{{ mobile_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }} md:pp-justify-{{ desktop_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }}'>
						{% render 'pp-button-v1-0-0',
							link: section.settings.button_link,
							label: section.settings.button_label,
							behaviour: section.settings.button_behaviour,
							class: 'pp-w-full md:pp-w-fit'
						%}
					</div>
				{% endif %}
			</div>

			<div class='pp-mt-6 lg:pp-mt-0 {% if section.settings.layout == 'text_first' %}pp-order-2{% else %}pp-order-1{% endif %}'>
				<div class='pp-w-full pp-max-w-[550px] pp-grid pp-grid-cols-4 pp-mx-auto pp-mb-6'>
					<div class='!pp-flex pp-flex-col pp-col-span-2'></div>
					<div class='pp-flex pp-items-center pp-justify-center pp-text-sm pp-font-semibold pp-text-center pp-break-words'>
						{{ section.settings.product_title }}
					</div>
					<div class='pp-flex pp-items-center pp-justify-center pp-text-sm pp-font-semibold pp-text-center pp-break-words'>
						{{ section.settings.competitor_title }}
					</div>
				</div>

				<div
					class='pp-w-full pp-max-w-[550px] pp-mx-auto pp-grid pp-grid-cols-4 pp-border pp-shadow-xl pp-shadow-black/5 pp-overflow-hidden'
					style='border-radius: var(--pp-border-radius);'>
					<div class='pp-flex pp-flex-col pp-col-span-2' style='background-color: var(--pp-brand-color);'>
						{% for block in section.blocks %}
							{% if block.type == 'comparison_item' %}
								<div class='pp-flex pp-justify-center pp-items-center pp-max-w-full pp-h-auto pp-min-h-[55px] pp-text-wrap pp-p-3 pp-break-all pp-border-solid pp-border-x-0 pp-border-t-0 pp-border-b-[1px] pp-border-b-white/15{% if forloop.last %} pp-border-b-0{% endif %}'>
									<span class='pp-text-base pp-text-white'>{{ block.settings.feature }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class='pp-flex pp-flex-col pp-bg-white'>
						{% for block in section.blocks %}
							{% if block.type == 'comparison_item' %}
								<div class='pp-flex pp-justify-center pp-items-center pp-h-[55px]'>
									{% if block.settings.product_has_feature %}
										<svg
											class='pp-w-[25px] pp-h-[25px] pp-fill-green-500'
											viewBox='0 0 32 27'
											fill='none'
											xmlns='http://www.w3.org/2000/svg'>
											<path d="M11.1803 26.4678C10.6803 26.4678 0.68034 13.9678 0.18034 12.9678C-0.31966 11.9678 0.18034 10.4678 2.18034 10.9678C4.18034 11.4678 10.1803 15.4678 11.1803 15.4678C12.1803 15.4678 27.1803 1.96777 29.1803 0.467774C31.1803 -1.03223 32.6803 1.46777 31.6803 2.46777C30.6803 3.46777 11.6803 26.4678 11.1803 26.4678Z" />
										</svg>
									{% else %}
										<svg
											class='pp-w-[25px] pp-h-[25px] pp-fill-black'
											xmlns='http://www.w3.org/2000/svg'
											viewBox='0 0 256 256'>
											<path d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z"></path>
										</svg>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class='pp-flex pp-flex-col pp-bg-white'>
						{% for block in section.blocks %}
							{% if block.type == 'comparison_item' %}
								<div class='pp-flex pp-justify-center pp-items-center pp-h-[55px]'>
									{% if block.settings.competitor_has_feature %}
										<svg
											class='pp-w-[25px] pp-h-[25px] pp-fill-green-500'
											viewBox='0 0 32 27'
											fill='none'
											xmlns='http://www.w3.org/2000/svg'>
											<path d="M11.1803 26.4678C10.6803 26.4678 0.68034 13.9678 0.18034 12.9678C-0.31966 11.9678 0.18034 10.4678 2.18034 10.9678C4.18034 11.4678 10.1803 15.4678 11.1803 15.4678C12.1803 15.4678 27.1803 1.96777 29.1803 0.467774C31.1803 -1.03223 32.6803 1.46777 31.6803 2.46777C30.6803 3.46777 11.6803 26.4678 11.1803 26.4678Z" />
										</svg>
									{% else %}
										<svg
											class='pp-w-[25px] pp-h-[25px] pp-fill-black'
											xmlns='http://www.w3.org/2000/svg'
											viewBox='0 0 256 256'>
											<path d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z"></path>
										</svg>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "PP Differences",
	"class": "section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "What Makes Our Product Special"
		},
		{
			"type": "textarea",
			"id": "description",
			"label": "Description",
			"default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button Label",
			"default": "Shop Now"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button Link"
		},
		{
			"type": "text",
			"id": "product_title",
			"label": "Product Title",
			"default": "Our Product"
		},
		{
			"type": "text",
			"id": "competitor_title",
			"label": "Competitor Title",
			"default": "Others"
		},
		{
			"type": "select",
			"id": "button_behaviour",
			"label": "Button behaviour",
			"options": [
				{
					"value": "link",
					"label": "Open link"
				},
				{
					"value": "scroll_to_top",
					"label": "Scroll to top"
				}
			],
			"default": "link"
		},
		{
			"type": "select",
			"id": "layout",
			"options": [
				{
					"value": "text_first",
					"label": "Text first"
				},
				{
					"value": "table_first",
					"label": "Table first"
				}
			],
			"default": "text_first",
			"label": "Desktop layout"
		},
		{
			"type": "select",
			"id": "content_position",
			"options": [
				{
					"value": "start",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "end",
					"label": "Bottom"
				}
			],
			"default": "center",
			"label": "Content position"
		},
		{
			"type": "select",
			"id": "desktop_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left",
			"label": "Desktop content alignment"
		},
		{
			"type": "select",
			"id": "mobile_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Mobile content alignment"
		},
		{
			"type": "color_background",
			"id": "section_background",
			"label": "Background color"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin (mobile)",
			"default": 0
		}
	],
	"blocks": [
		{
			"type": "comparison_item",
			"name": "Comparison Item",
			"settings": [
				{
					"type": "text",
					"id": "feature",
					"label": "Feature",
					"default": "Feature"
				},
				{
					"type": "checkbox",
					"id": "product_has_feature",
					"label": "Product has this feature",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "competitor_has_feature",
					"label": "Competitor has this feature",
					"default": false
				}
			]
		}
	],
	"presets": [
		{
			"name": "PP Differences",
			"blocks": [
				{
					"type": "comparison_item",
					"settings": {
						"feature": "Painless",
						"product_has_feature": true,
						"competitor_has_feature": false
					}
				},
				{
					"type": "comparison_item",
					"settings": {
						"feature": "Safe",
						"product_has_feature": true,
						"competitor_has_feature": false
					}
				},
				{
					"type": "comparison_item",
					"settings": {
						"feature": "Natural",
						"product_has_feature": true,
						"competitor_has_feature": false
					}
				},
				{
					"type": "comparison_item",
					"settings": {
						"feature": "Cruelty-Free",
						"product_has_feature": true,
						"competitor_has_feature": false
					}
				},
				{
					"type": "comparison_item",
					"settings": {
						"feature": "Cost $$$",
						"product_has_feature": true,
						"competitor_has_feature": false
					}
				}
			]
		}
	]
}
{% endschema %}
