{% style %}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top_mobile }}px;
	  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}
	.section-{{ section.id }}-margin {
	  margin-top: {{ section.settings.margin_top_mobile }}px;
	  margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	  .section-{{ section.id }}-margin {
	    margin-top: {{ section.settings.margin_top }}px;
	    margin-bottom: {{ section.settings.margin_bottom }}px;
	  }
	}
{% endstyle %}

{% assign section_background = '' %}

{% if section.settings.section_background != blank %}
	{% assign section_background = 'background: ' | append: section.settings.section_background | append: ';' %}
{% endif %}

{% assign desktop_content_alignment = section.settings.desktop_content_alignment %}
{% assign mobile_content_alignment = section.settings.mobile_content_alignment %}

<div
	class='pagepilot-section pagepilot-faqs section-{{ section.id }}-padding section-{{ section.id }}-margin'
	style='{{ section_background }}'>
	<div class='pagepilot-wrapper'>
		<div class='pp-container pp-mx-auto pp-flex pp-flex-col pp-gap-10'>
			<div class='pp-flex pp-flex-col pp-gap-6'>
				<h2 class='pp-text-heading-lg sm:pp-text-heading-2xl pp-font-semibold pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }}'>
					{{ section.settings.heading }}
				</h2>
				{% if section.settings.description != blank %}
					<p class='pp-text-lg md:pp-text-xl pp-leading-7 pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }} {% if section.settings.desktop_content_alignment == 'center' %}md:pp-max-w-8xl md:pp-mx-auto{% endif %}'>
						{{ section.settings.description }}
					</p>
				{% endif %}
			</div>

			<div class='pp-flex pp-flex-col pp-gap-6'>
				{% for block in section.blocks %}
					{% if block.type == 'faq_item' %}
						<details
							class='pp-group pp-appearance-none pp-border-solid pp-border pp-border-black/20 pp-outline-none pp-transition pp-duration-300 hover:pp-cursor-pointer hover:pp-bg-black/5'
							style='border-radius: var(--pp-border-radius); {% if section.settings.faqitem_background != blank %}background: {{ section.settings.faqitem_background }};{% endif %}'>
							<summary class='pp-flex pp-w-full pp-appearance-none pp-items-center pp-justify-between pp-py-4 pp-relative'>
								<div class='pp-px-6'>
									<div class='pp-pr-10 pp-text-base md:pp-text-lg pp-font-semibold'>{{ block.settings.question }}</div>
									<svg
										class='h-[22px] pp-w-[22px] pp-min-w-[22px] pp-fill-black pp-absolute pp-right-6 pp-top-4 pp-transition-transform pp-duration-500 group-open:pp-rotate-180'
										xmlns='http://www.w3.org/2000/svg'
										viewBox='0 0 256 256'>
										<path d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"></path>
									</svg>
								</div>
							</summary>
							<article class='pp-px-6 pp-pb-6'>
								<p className='pp-text-sm md:pp-text-base'>{{ block.settings.answer }}</p>
							</article>
						</details>
					{% endif %}
				{% endfor %}
			</div>

			{% if section.settings.button_label != blank %}
				<div class='pp-flex pp-justify-{{ mobile_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }} md:pp-justify-{{ desktop_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }}'>
					{% render 'pp-button-v1-0-0',
						link: section.settings.button_link,
						label: section.settings.button_label,
						behaviour: section.settings.button_behaviour,
						class: 'pp-w-full md:pp-w-fit'
					%}
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "PP FAQ",
	"class": "section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Frequently Asked Questions"
		},
		{
			"type": "textarea",
			"id": "description",
			"label": "Description",
			"default": "Your answer might be here! Find the answers most valued by our customers."
		},
		{
			"type": "select",
			"id": "desktop_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Desktop content alignment"
		},
		{
			"type": "select",
			"id": "mobile_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Mobile content alignment"
		},
		{
			"type": "select",
			"id": "button_behaviour",
			"label": "Button Behaviour",
			"default": "link",
			"options": [
				{
					"value": "link",
					"label": "Link"
				},
				{
					"value": "scroll_to_top",
					"label": "Scroll to Top"
				}
			]
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button Label",
			"default": "Shop Now"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button Link"
		},
		{
			"type": "color_background",
			"id": "faqitem_background",
			"label": "FAQ Item Background color"
		},
		{
			"type": "color_background",
			"id": "section_background",
			"label": "Background color"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin (mobile)",
			"default": 30
		}
	],
	"blocks": [
		{
			"type": "faq_item",
			"name": "FAQ Item",
			"settings": [
				{
					"type": "text",
					"id": "question",
					"label": "Question",
					"default": "Have a question?"
				},
				{
					"type": "textarea",
					"id": "answer",
					"label": "Answer",
					"default": "Answer the question here"
				}
			]
		}
	],
	"presets": [
		{
			"name": "PP FAQ",
			"blocks": [
				{
					"type": "faq_item"
				},
				{
					"type": "faq_item"
				},
				{
					"type": "faq_item"
				},
				{
					"type": "faq_item"
				}
			]
		}
	]
}
{% endschema %}
