{% style %}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top_mobile }}px;
	  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}
	.section-{{ section.id }}-margin {
	  margin-top: {{ section.settings.margin_top_mobile }}px;
	  margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	  .section-{{ section.id }}-margin {
	    margin-top: {{ section.settings.margin_top }}px;
	    margin-bottom: {{ section.settings.margin_bottom }}px;
	  }
	}
{% endstyle %}

{% assign section_background = '' %}

{% if section.settings.section_background != blank %}
	{% assign section_background = 'background: ' | append: section.settings.section_background | append: ';' %}
{% endif %}

<div
	class='pagepilot-section pagepilot-image-with-percentage section-{{ section.id }}-padding section-{{ section.id }}-margin'
	style='{{ section_background }}'>
	<div class='pagepilot-wrapper'>
		{% assign layout = section.settings.layout %}
		{% assign desktop_content_alignment = section.settings.desktop_content_alignment %}
		{% assign mobile_content_alignment = section.settings.mobile_content_alignment %}

		<div
			class='
				pp-container pp-mx-auto pp-w-full pp-grid md:pp-grid-cols-2 pp-gap-10 pp-items-center
				{% if layout == 'text_first' %}sm:pp-flex-row-reverse{% endif %}
			'>
			<div class='pp-flex pp-items-center pp-justify-center pp-order-1 {% if layout == 'text_first' %}sm:pp-order-2{% endif %}'>
				<div
					class='pp-w-full pp-max-w-[500px] pp-aspect-square pp-flex pp-justify-center pp-items-center pp-overflow-hidden pp-relative'
					style='border-radius: var(--pp-border-radius);'>
					{% if section.settings.image %}
						<img
							src='{{ section.settings.image | image_url: width: 600 }}'
							alt='{{ section.settings.image.alt | escape }}'
							class='pp-w-auto pp-h-auto pp-object-contain pp-object-center pp-max-w-full pp-max-h-full pp-absolute pp-top-1/2 pp-left-1/2 -pp-translate-x-1/2 -pp-translate-y-1/2'
							style='border-radius: var(--pp-border-radius);'
							width='100%'
							height='100%'>
					{% else %}
						{{ 'product-1' | placeholder_svg_tag: 'pp-w-full' }}
					{% endif %}
				</div>
			</div>

			<div class='pp-flex pp-items-center pp-order-2 {% if layout == 'text_first' %}sm:pp-order-1{% endif %}'>
				<div class='pp-w-full pp-flex pp-flex-col pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }} pp-items-{{ mobile_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }} md:pp-items-{{ desktop_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }} pp-gap-8'>
					{% for block in section.blocks %}
						{% case block.type %}
							{% when 'heading' %}
								<h2 class='pp-text-heading-lg md:pp-text-heading-2xl pp-font-semibold'>
									{{ block.settings.heading }}
								</h2>
							{% when 'percentage_items' %}
								<div class='pp-w-full pp-flex pp-flex-col pp-gap-6'>
									{% for i in (1..3) %}
										{% capture percentage_key %}percentage_{{ i }}{% endcapture %}
										{% capture text_key %}text_{{ i }}{% endcapture %}
										{% assign percentage = block.settings[percentage_key] %}
										{% assign text = block.settings[text_key] %}
										{% if percentage != blank and text != blank %}
											<div class='pp-flex {% if mobile_content_alignment == "right" %}pp-flex-row-reverse{% endif %} {% if desktop_content_alignment == "right" %}md:pp-flex-row-reverse{% endif %} pp-gap-[20px] pp-items-center pp-border-b-[1px] pp-border-gray-300 last:pp-border-0 pp-pb-6 last:pp-pb-0'>
												<div>
													<div
														class='pp-w-[70px] pp-h-[70px] pp-flex pp-items-center pp-justify-center pp-rounded-full pp-p-[5px] pp-bg-circular-percent'
														style='--percentValue: {{ percentage }}; --color-start: var(--pp-brand-color); --color-end: {{ block.settings.color_end }};'>
														<div class='pp-w-full pp-h-full pp-rounded-full pp-bg-white pp-flex pp-items-center pp-justify-center'>
															<span class='pp-text-base pp-font-semibold'> {{ percentage }}% </span>
														</div>
													</div>
												</div>
												<div class='pp-text-lg pp-text-left'>{{ text }}</div>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							{% when 'button' %}
								{% render 'pp-button-v1-0-0',
									link: block.settings.button_link,
									label: block.settings.button_label,
									behaviour: block.settings.button_behaviour,
									class: 'pp-w-full md:pp-w-fit'
								%}
						{% endcase %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "PP Image with Percentage",
	"class": "section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "select",
			"id": "layout",
			"options": [
				{
					"value": "image_first",
					"label": "Image first"
				},
				{
					"value": "text_first",
					"label": "Text first"
				}
			],
			"default": "image_first",
			"label": "Desktop layout"
		},
		{
			"type": "select",
			"id": "desktop_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left",
			"label": "Desktop content alignment"
		},
		{
			"type": "select",
			"id": "mobile_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Mobile content alignment"
		},
		{
			"type": "color_background",
			"id": "section_background",
			"label": "Background color"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin (mobile)",
			"default": 30
		}
	],
	"blocks": [
		{
			"type": "heading",
			"name": "Heading",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"default": "Your title here",
					"label": "Heading"
				}
			]
		},
		{
			"type": "percentage_items",
			"name": "Percentage Items",
			"limit": 1,
			"settings": [
				{
					"type": "color",
					"id": "color_end",
					"label": "End Color",
					"default": "#d1d5db"
				},
				{
					"type": "range",
					"id": "percentage_1",
					"min": 0,
					"max": 100,
					"step": 1,
					"unit": "%",
					"label": "Percentage 1",
					"default": 100
				},
				{
					"type": "text",
					"id": "text_1",
					"label": "Text 1",
					"default": "Of the people were satisfied with product"
				},
				{
					"type": "range",
					"id": "percentage_2",
					"min": 0,
					"max": 100,
					"step": 1,
					"unit": "%",
					"label": "Percentage 2",
					"default": 100
				},
				{
					"type": "text",
					"id": "text_2",
					"label": "Text 2",
					"default": "Of the people were satisfied with product"
				},
				{
					"type": "range",
					"id": "percentage_3",
					"min": 0,
					"max": 100,
					"step": 1,
					"unit": "%",
					"label": "Percentage 3",
					"default": 100
				},
				{
					"type": "text",
					"id": "text_3",
					"label": "Text 3",
					"default": "Of the people were satisfied with product"
				}
			]
		},
		{
			"type": "button",
			"name": "Button",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "button_behaviour",
					"options": [
						{
							"value": "link",
							"label": "Link"
						},
						{
							"value": "scroll_to_top",
							"label": "Scroll to top"
						}
					],
					"default": "link",
					"label": "Button behaviour"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "Shop Now",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				}
			]
		}
	],
	"presets": [
		{
			"name": "PP Image with Percentage",
			"blocks": [
				{
					"type": "heading"
				},
				{
					"type": "percentage_items"
				},
				{
					"type": "button"
				}
			]
		}
	]
}
{% endschema %}
