{% style %}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top_mobile }}px;
	  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}
	.section-{{ section.id }}-margin {
	  margin-top: {{ section.settings.margin_top_mobile }}px;
	  margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	  .section-{{ section.id }}-margin {
	    margin-top: {{ section.settings.margin_top }}px;
	    margin-bottom: {{ section.settings.margin_bottom }}px;
	  }
	}
{% endstyle %}

{% assign section_background = '' %}

{% if section.settings.section_background != blank %}
	{% assign section_background = 'background: ' | append: section.settings.section_background | append: ';' %}
{% endif %}

<div
	class='pagepilot-section pagepilot-image-with-text section-{{ section.id }}-padding section-{{ section.id }}-margin'
	style='{{ section_background }}'>
	<div
		class='pagepilot-wrapper'>
		{% assign layout = section.settings.layout %}
		{% assign desktop_content_position = section.settings.desktop_content_position %}
		{% assign desktop_content_alignment = section.settings.desktop_content_alignment %}
		{% assign mobile_content_alignment = section.settings.mobile_content_alignment %}

		<div
			class='
				pp-container pp-mx-auto pp-w-full pp-flex pp-flex-col md:pp-flex-row pp-gap-10 pp-justify-center
				{% if layout == 'text_first' %}md:pp-flex-row-reverse{% endif %}
			'>
			<div class='pp-flex pp-flex-col pp-items-center pp-justify-center xs:pp-flex-[100%] md:pp-flex-[50%]'>
				<div
					class='pp-w-full pp-max-w-[500px] pp-relative pp-aspect-square pp-flex pp-justify-center pp-items-center pp-overflow-hidden'
					style='border-radius: var(--pp-border-radius);'>
					{% if section.settings.image %}
						<img
							src='{{ section.settings.image | image_url: width: 600 }}'
							class='pp-w-auto pp-h-auto pp-object-contain pp-object-center pp-max-w-full pp-max-h-full pp-absolute pp-top-1/2 pp-left-1/2 -pp-translate-x-1/2 -pp-translate-y-1/2'
							alt='{{ section.settings.image_alt }}'
							style='border-radius: var(--pp-border-radius);'
							width='100%'
							height='100%'>
					{% else %}
						{{ 'product-1' | placeholder_svg_tag: 'pp-w-full' }}
					{% endif %}
				</div>
			</div>

			<div class='pp-flex pp-flex-col xs:pp-flex-[100%] md:pp-flex-[50%]  pp-items-{{ mobile_content_alignment }} md:pp-items-{{ desktop_content_alignment }} pp-justify-{{ desktop_content_position }}'>
				<div class='pp-flex pp-flex-col pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }} pp-items-{{ desktop_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }} pp-gap-8'>
					{% for block in section.blocks %}
						{% case block.type %}
							{% when 'heading' %}
								<h2 class='pp-text-heading-lg md:pp-text-heading-2xl pp-font-semibold'>
									{{ block.settings.heading }}
								</h2>
							{% when 'text' %}
								<p class='pp-text-base md:pp-text-lg pp-leading-7'>{{ block.settings.text }}</p>
							{% when 'button' %}
								{% render 'pp-button-v1-0-0',
									link: block.settings.button_link,
									label: block.settings.button_label,
									behaviour: block.settings.button_behaviour,
									class: 'pp-w-full md:pp-w-fit'
								%}
						{% endcase %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "PP Image with Text",
	"class": "section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "image_alt",
			"label": "Image alt text",
			"default": "Product image"
		},
		{
			"type": "select",
			"id": "layout",
			"options": [
				{
					"value": "image_first",
					"label": "Image first"
				},
				{
					"value": "text_first",
					"label": "Text first"
				}
			],
			"default": "image_first",
			"label": "Desktop layout"
		},
		{
			"type": "select",
			"id": "desktop_content_position",
			"options": [
				{
					"value": "start",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "end",
					"label": "Bottom"
				}
			],
			"default": "center",
			"label": "Desktop content position"
		},
		{
			"type": "select",
			"id": "desktop_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left",
			"label": "Desktop content alignment"
		},
		{
			"type": "select",
			"id": "mobile_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Mobile content alignment"
		},
		{
			"type": "color_background",
			"id": "section_background",
			"label": "Background color"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin (mobile)",
			"default": 0
		}
	],
	"blocks": [
		{
			"type": "heading",
			"name": "Heading",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"default": "Your heading here",
					"label": "Heading"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"limit": 1,
			"settings": [
				{
					"type": "textarea",
					"id": "text",
					"default": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.",
					"label": "Text"
				}
			]
		},
		{
			"type": "button",
			"name": "Button",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "button_behaviour",
					"label": "Button behaviour",
					"options": [
						{
							"value": "link",
							"label": "Open link"
						},
						{
							"value": "scroll_to_top",
							"label": "Scroll to top"
						}
					],
					"default": "link"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "Shop Now",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				}
			]
		}
	],
	"presets": [
		{
			"name": "PP Image with Text",
			"blocks": [
				{
					"type": "heading"
				},
				{
					"type": "text"
				},
				{
					"type": "button"
				}
			]
		}
	]
}
{% endschema %}
