{{ 'pagepilot-styles.css' | asset_url | stylesheet_tag }}

<product-info
	id='MainProduct-{{ section.id }}'
	class='section-{{ section.id }}-padding'
	data-section='{{ section.id }}'
	data-product-id='{{ product.id }}'
	data-update-url='true'
	data-url='{{ product.url }}'
	{% if section.settings.image_zoom == 'hover' %}
		data-zoom-on-hover
	{% endif %}>
	{% comment %}
		{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
		{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
		{{ 'component-price.css' | asset_url | stylesheet_tag }}
		{{ 'component-slider.css' | asset_url | stylesheet_tag }}
		{{ 'component-rating.css' | asset_url | stylesheet_tag }}
		{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
	{% endcomment %}

	{% comment %}
		{% unless product.has_only_default_variant %}
		  {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
		  {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
		  {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
		{% endunless %}
		{%- if product.quantity_price_breaks_configured? -%}
		  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
		{%- endif -%}
	{% endcomment %}

	{%- style -%}
		.pp-section-{{ section.id }} {
		  padding-top: {{ section.settings.padding_top_mobile }}px;
		  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
		}
		:root {
		  --pp-heading-font-size: {{ section.settings.heading_font_size }}px !important;
		  --pp-body-font-size: {{ section.settings.body_font_size }}px !important;
		  --pp-heading-color: {{ section.settings.pp_heading_color }} !important;
		  --pp-body-color: {{ section.settings.pp_body_color }} !important;
		  --pp-brand-color: {{ section.settings.pp_brand_color }} !important;
		  --pp-button-background-color: {{ section.settings.pp_button_background_color }} !important;
		  --pp-button-text-color: {{ section.settings.pp_button_text_color }} !important;
		  --pp-border-radius: {{ section.settings.pp_border_radius }}px;
		}

		@media screen and (min-width: 750px) {
		  .pp-section-{{ section.id }} {
		    padding-top: {{ section.settings.padding_top }}px;
		    padding-bottom: {{ section.settings.padding_bottom }}px;
		  }
		  :root {
		    --pp-heading-font-size: {{ section.settings.heading_font_size }}px !important;
		    --pp-body-font-size: {{ section.settings.body_font_size }}px !important;
		  }
		}
	{%- endstyle -%}

	{% comment %}
		<script src="{{ 'js/product-info.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
	{% endcomment %}
	<script type='application/json' id='ProductJson-product-template'>
		{{ product | json }}
	</script>
	<script src='{{ 'pagepilot-product.min.js' | asset_url }}' defer='defer'></script>

	{% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
	<section class='pp-section-{{ section.id }}'>
		<div class='pagepilot-section pagepilot-main-product pp-mx-auto pp-w-full'>
			<div class='pp-max-w-[1200px] pp-mx-auto pp-grid pp-gap-4 md:pp-gap-6 pp-grid-cols-1 {% if product.media.size > 0 %}xs:pp-grid-cols-1 md:pp-grid-cols-2{% endif %}'>
				<div class='pp-w-full pp-relative lg:pp-sticky lg:pp-top-4 pp-self-start md:pp-px-6'>
					{% render 'pp-photo-gallery-v1-0-0',
						all_images: product.media,
						selected_variant: product.selected_or_first_available_variant
					%}
				</div>
				<div class='pagepilot-wrapper'>
					<section id='ProductInfo-{{ section.id }}' class='pp-flex pp-flex-col pp-gap-4 pp-items'>
						{%- assign product_form_id = 'product-form-' | append: section.id -%}
						{%- for block in section.blocks -%}
							{%- case block.type -%}
								{%- when '@app' -%}
									{% render block %}
								{%- when 'text' -%}
									<p
										class='pp-text-base {% if block.settings.text_style == 'uppercase' %}pp-uppercase pp-tracking-wider{% elsif block.settings.text_style == 'subtitle' %}pp-text-md pp-font-semibold{% endif %}'
										{{ block.shopify_attributes }}>
										{{- block.settings.text -}}
									</p>
								{%- when 'title' -%}
									<div {{ block.shopify_attributes }}>
										<h1 class='pp-product-title w-full pp-text-heading-lg sm:pp-text-heading-2xl pp-font-semibold break-words'>
											{{ product.title | escape }}
										</h1>
									</div>
								{%- when 'price' -%}
									<div id='price-{{ section.id }}' role='status' {{ block.shopify_attributes }}>
										{%- render 'pp-price-v1-0-0',
											product: product,
											use_variant: true,
											price_color: block.settings.price_color,
											compare_price_color: block.settings.compare_price_color
										-%}
									</div>
								{%- when 'cart_drawer' -%}
									{% render 'pp-cart-drawer-v1-0-0',
										cart_drawer_title: block.settings.cart_drawer_title,
										cart_drawer_total_text: block.settings.cart_drawer_total_text,
										cart_drawer_empty_text: block.settings.cart_drawer_empty_text,
										checkout_button_text: block.settings.checkout_button_text
									%}
								{%- when 'description' -%}
									{%- if product.description != blank -%}
										<div class='pp-text-base' {{ block.shopify_attributes }}>
											{{ product.description }}
										</div>
									{%- endif -%}
								{%- when 'divider' -%}
									<div class='!pp-flex pp-h-[1px] pp-w-full pp-bg-[#e8e8e1]'></div>
								{%- when 'pp_review_numbers' -%}
									<div {{ block.shopify_attributes }}>
										{% render 'pp-review-numbers-v1-0-0',
											rating: block.settings.rating,
											stars_color: block.settings.stars_color,
											count: block.settings.review_count,
											review_text: block.settings.review_text
										%}
									</div>
								{%- when 'pp_icons_with_text' -%}
									<div {{ block.shopify_attributes }}>
										{% render 'pp-icons-with-text-v1-0-0',
											icons_size: block.settings.icons_size,
											guarantee_1_text: block.settings.guarantee_1_text,
											guarantee_2_text: block.settings.guarantee_2_text,
											guarantee_3_text: block.settings.guarantee_3_text,
											guarantee_1_icon: block.settings.guarantee_1_icon,
											guarantee_2_icon: block.settings.guarantee_2_icon,
											guarantee_3_icon: block.settings.guarantee_3_icon
										%}
									</div>
								{%- when 'pp_review_block' -%}
									<div {{ block.shopify_attributes }}>
										{% render 'pp-review-block-v1-0-0',
											rating: block.settings.rating,
											stars_color: block.settings.stars_color,
											name: block.settings.name,
											review: block.settings.review,
											image: block.settings.image
										%}
									</div>
								{%- when 'pp_custom_liquid_block' -%}
									<div {{ block.shopify_attributes }}>
										{% render 'pp-custom-liquid-block-v1-0-0', content: block.settings.content %}
									</div>
								{%- when 'pp_expandable_text' -%}
									<div {{ block.shopify_attributes }}>
										{% render 'pp-expandable-text-v1-0-0',
											title: block.settings.title,
											content: block.settings.content,
											icon: block.settings.icon
										%}
									</div>
								{%- when 'quantity' -%}
									<div
										class='pp-touch-manipulation'
										id='pp-quantity-form-{{ section.id }}'
										{{ block.shopify_attributes }}>
										{%- assign cart_qty = cart
											| item_count_for_variant: product.selected_or_first_available_variant.id
										-%}
										<label
											class='pp-text-sm pp-font-semibold pp-uppercase pp-tracking-wider'
											for='pp-quantity-{{ section.id }}'>
											{% assign quantity_label = 'products.product.quantity.label' | t | downcase %}
											{% if quantity_label contains 'translation missing' %}
												{% assign quantity_label = '' %}
											{% endif %}

											{% if block.settings.quantity_text %}
												{{ block.settings.quantity_text }}
											{% elsif quantity_label != blank %}
												{{ quantity_label }}
											{% else %}
												Quantity
											{% endif %}
										</label>
										<div class='pp-mt-2'>
											<div
												class='pp-flex pp-items-center pp-border pp-border-solid pp-border-[#e1e1e1] pp-w-fit pp-text-2xl'
												style='border-radius: calc(var(--pp-border-radius) * 0.5);'
												data-url='{{ product.url }}'
												data-section='{{ section.id }}'>
												<button
													class='pp-w-12 pp-h-8 pp-flex pp-items-center pp-justify-center pp-text-base pp-quantity-decrease pp-border-none'
													type='button'>
													<span class='pp-hidden'> Decrease </span>
													<svg
														xmlns='http://www.w3.org/2000/svg'
														aria-hidden='true'
														focusable='false'
														fill='none'
														viewBox='0 0 10 2'
														class='pp-w-3'>
														<path fillRule="evenodd" clipRule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path>
													</svg>
												</button>
												<input
													class='pp-text-center pp-text-sm pp-w-16 !pp-mb-0 !pp-h-8 !pp-appearance-none !pp-bg-transparent !pp-border-y-0 !focus:pp-outline-none !focus:pp-before-none'
													type='text'
													name='quantity'
													id='pp-quantity-{{ section.id }}'
													data-cart-quantity='{{ cart_qty }}'
													data-min='{{ product.selected_or_first_available_variant.quantity_rule.min }}'
													min='{{ product.selected_or_first_available_variant.quantity_rule.min }}'
													{% if product.selected_or_first_available_variant.quantity_rule.max != null %}
														data-max='{{ product.selected_or_first_available_variant.quantity_rule.max }}'
														max='{{ product.selected_or_first_available_variant.quantity_rule.max }}'
													{% endif %}
													step='{{ product.selected_or_first_available_variant.quantity_rule.increment }}'
													value='{{ product.selected_or_first_available_variant.quantity_rule.min }}'
													form='{{ product_form_id }}'
													{% comment %} readonly {% endcomment %}>
												<button
													class='pp-w-12 pp-h-8 pp-flex pp-items-center pp-justify-center pp-text-base pp-quantity-increase pp-border-none'
													type='button'>
													<span class='pp-hidden'> Increase </span>
													<svg
														xmlns='http://www.w3.org/2000/svg'
														aria-hidden='true'
														focusable='false'
														fill='none'
														viewBox='0 0 10 10'
														class='pp-w-3'>
														<path fillRule="evenodd" clipRule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path>
													</svg>
												</button>
											</div>
										</div>
										<div class='pp-text-sm pp-font-light' id='Quantity-Rules-{{ section.id }}'>
											{%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
												<span class='divider'>
													Multiples of {{ product.selected_or_first_available_variant.quantity_rule.increment }}
												</span>
											{%- endif -%}
											{%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
												<span class='divider'>
													Minimum of {{ product.selected_or_first_available_variant.quantity_rule.min }}
												</span>
											{%- endif -%}
											{%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
												<span class='divider'>
													Maximum of {{ product.selected_or_first_available_variant.quantity_rule.max }}
												</span>
											{%- endif -%}
										</div>
									</div>
								{%- when 'variant_picker' -%}
									{% render 'pp-variant-picker-v1-0-0',
										product: product,
										block: block,
										product_form_id: product_form_id
									%}
								{%- when 'buy_buttons' -%}
									{%- render 'pp-buy-buttons-v1-0-0',
										block: block,
										product: product,
										product_form_id: product_form_id,
										section_id: section.id,
										show_pickup_availability: true,
										sold_out_text: block.settings.sold_out_text,
										unavailable_text: block.settings.unavailable_text,
										add_to_cart_text: block.settings.add_to_cart_text
									-%}
							{%- endcase -%}
						{%- endfor -%}
						{% comment %}
							{%- form 'product', product, class: 'pp-flex pp-flex-col pp-gap-6' -%}
							  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
							  {{ form | payment_terms }}
							{% endform %}
						{% endcomment %}
					</section>
				</div>
			</div>

			{% comment %} {% render 'product-media-modal', variant_images: variant_images %} {% endcomment %}

			{% comment %}
				{% assign popups = section.blocks | where: 'type', 'popup' %}
				{%- for block in popups -%}
				  <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
				    <div
				      role="dialog"
				      aria-label="{{ block.settings.text }}"
				      aria-modal="true"
				      class="product-popup-modal__content"
				      tabindex="-1"
				    >
				      <button
				        id="ModalClose-{{ block.id }}"
				        type="button"
				        class="product-popup-modal__toggle"
				        aria-label="{{ 'accessibility.close' | t }}"
				      >
				        {% render 'icon-close' %}
				      </button>
				      <div class="product-popup-modal__content-info">
				        <h1 class="h2">{{ block.settings.page.title | escape }}</h1>
				        {{ block.settings.page.content }}
				      </div>
				    </div>
				  </modal-dialog>
				{%- endfor -%}
			{% endcomment %}
			{% comment %}
				{%- if product.media.size > 0 -%}
				  <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
				  <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
				{%- endif -%}
			{% endcomment %}

			{% comment %}
				{%- if first_3d_model -%}
				  <script type="application/json" id="ProductJSON-{{ product.id }}">
				    {{ product.media | where: 'media_type', 'model' | json }}
				  </script>
				  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
				{%- endif -%}
			{% endcomment %}

			{%- liquid
				if product.selected_or_first_available_variant.featured_media
					assign seo_media = product.selected_or_first_available_variant.featured_media
				else
					assign seo_media = product.featured_media
				endif
			-%}

			<script type='application/ld+json'>
				{{ product | structured_data }}
			</script>
		</div>
	</section>
</product-info>

{% schema %}
{
	"name": "Product Information",
	"tag": "section",
	"class": "section",
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "text",
					"default": "Text block",
					"label": "Text"
				},
				{
					"type": "select",
					"id": "text_style",
					"options": [
						{
							"value": "body",
							"label": "Body"
						},
						{
							"value": "subtitle",
							"label": "Subtitle"
						},
						{
							"value": "uppercase",
							"label": "Uppercase"
						}
					],
					"default": "body",
					"label": "Text style"
				}
			]
		},
		{
			"type": "title",
			"name": "Title",
			"limit": 1
		},
		{
			"type": "price",
			"name": "Price",
			"limit": 1,
			"settings": [
				{
					"type": "color",
					"id": "price_color",
					"label": "Price Color",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "compare_price_color",
					"label": "Compare at Price Color",
					"default": "#B6B6B6"
				}
			]
		},
		{
			"type": "quantity",
			"name": "Quantity selector",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "quantity_text",
					"label": "Quantity Text",
					"default": "Quantity"
				}
			]
		},
		{
			"type": "variant_picker",
			"name": "Variant picker",
			"limit": 1
		},
		{
			"type": "buy_buttons",
			"name": "Buy Buttons",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_dynamic_checkout",
					"default": false,
					"label": "Show dynamic checkout",
					"info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay."
				},
				{
					"type": "text",
					"id": "add_to_cart_text",
					"label": "Add to Cart Text",
					"default": "Add to Cart"
				},
				{
					"type": "text",
					"id": "sold_out_text",
					"label": "Sold Out Text",
					"default": "Sold Out"
				},
				{
					"type": "text",
					"id": "unavailable_text",
					"label": "Unavailable Text",
					"default": "Unavailable"
				}
			]
		},
		{
			"type": "cart_drawer",
			"name": "Cart Drawer",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "cart_drawer_title",
					"label": "Cart Drawer Title",
					"default": "Your cart"
				},
				{
					"type": "text",
					"id": "cart_drawer_total_text",
					"label": "Cart Drawer Total Text",
					"default": "Total"
				},
				{
					"type": "text",
					"id": "cart_drawer_empty_text",
					"label": "Cart Drawer Empty Text",
					"default": "Your cart is empty"
				},
				{
					"type": "text",
					"id": "checkout_button_text",
					"label": "Checkout Button Text",
					"default": "Checkout"
				}
			]
		},
		{
			"type": "description",
			"name": "Description",
			"limit": 1
		},
		{
			"type": "pp_review_numbers",
			"name": "Review numbers",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "rating",
					"min": 1,
					"max": 5,
					"step": 1,
					"default": 5,
					"label": "Rating"
				},
				{
					"type": "color",
					"id": "stars_color",
					"label": "Stars Color",
					"default": "#facc15"
				},
				{
					"type": "number",
					"id": "review_count",
					"label": "Number of Reviews",
					"default": 343
				},
				{
					"type": "text",
					"id": "review_text",
					"label": "Review Text",
					"default": "Reviews"
				}
			]
		},
		{
			"type": "pp_review_block",
			"name": "Review Block",
			"settings": [
				{
					"type": "range",
					"id": "rating",
					"min": 1,
					"max": 5,
					"step": 1,
					"default": 5,
					"label": "Rating"
				},
				{
					"type": "color",
					"id": "stars_color",
					"label": "Stars Color",
					"default": "#facc15"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "review",
					"label": "Review",
					"default": "\"In this field, you can put the most amazing review you have received from your customer. Use it as the best selling reference for your product.\""
				},
				{
					"type": "text",
					"id": "name",
					"label": "Name",
					"default": "John Doe, United States"
				}
			]
		},
		{
			"type": "pp_custom_liquid_block",
			"name": "Custom Liquid Block",
			"settings": [
				{
					"type": "liquid",
					"id": "content",
					"label": "Content"
				}
			]
		},
		{
			"type": "pp_expandable_text",
			"name": "Expandable text",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Frequently Asked Questions"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Enter your text here</p>"
				},
				{
					"type": "select",
					"id": "icon",
					"label": "Icon",
					"options": [
						{
							"value": "back",
							"label": "Back"
						},
						{
							"value": "box",
							"label": "Box"
						},
						{
							"value": "certification",
							"label": "Certification"
						},
						{
							"value": "checkmark-circle",
							"label": "Checkmark Circle"
						},
						{
							"value": "checkmark",
							"label": "Checkmark"
						},
						{
							"value": "clockwise",
							"label": "Clockwise"
						},
						{
							"value": "coins",
							"label": "Coins"
						},
						{
							"value": "credit-card",
							"label": "Credit Card"
						},
						{
							"value": "cube",
							"label": "Cube"
						},
						{
							"value": "discount",
							"label": "Discount"
						},
						{
							"value": "dollar-bill",
							"label": "Dollar Bill"
						},
						{
							"value": "globe",
							"label": "Globe"
						},
						{
							"value": "hand-coins",
							"label": "Hand with Coins"
						},
						{
							"value": "hand-heart",
							"label": "Hand with Heart"
						},
						{
							"value": "handshake",
							"label": "Handshake"
						},
						{
							"value": "heart",
							"label": "Heart"
						},
						{
							"value": "headset",
							"label": "Headset"
						},
						{
							"value": "peace",
							"label": "Peace"
						},
						{
							"value": "people",
							"label": "People"
						},
						{
							"value": "person",
							"label": "Person"
						},
						{
							"value": "phone",
							"label": "Phone"
						},
						{
							"value": "question",
							"label": "Question"
						},
						{
							"value": "shield",
							"label": "Shield"
						},
						{
							"value": "smiley-face",
							"label": "Smiley Face"
						},
						{
							"value": "sparkle",
							"label": "Sparkle"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "success",
							"label": "Success"
						},
						{
							"value": "thumbs-up",
							"label": "Thumbs Up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "user-plus",
							"label": "User Plus"
						}
					],
					"default": "truck"
				}
			]
		},
		{
			"type": "pp_icons_with_text",
			"name": "Icon with text",
			"settings": [
				{
					"type": "range",
					"id": "icons_size",
					"label": "Icons size",
					"min": 20,
					"max": 100,
					"step": 2,
					"default": 30
				},
				{
					"type": "select",
					"id": "guarantee_1_icon",
					"label": "Guarantee 1 Icon",
					"options": [
						{
							"value": "back",
							"label": "Back"
						},
						{
							"value": "box",
							"label": "Box"
						},
						{
							"value": "certification",
							"label": "Certification"
						},
						{
							"value": "checkmark-circle",
							"label": "Checkmark Circle"
						},
						{
							"value": "checkmark",
							"label": "Checkmark"
						},
						{
							"value": "clockwise",
							"label": "Clockwise"
						},
						{
							"value": "coins",
							"label": "Coins"
						},
						{
							"value": "credit-card",
							"label": "Credit Card"
						},
						{
							"value": "cube",
							"label": "Cube"
						},
						{
							"value": "discount",
							"label": "Discount"
						},
						{
							"value": "dollar-bill",
							"label": "Dollar Bill"
						},
						{
							"value": "globe",
							"label": "Globe"
						},
						{
							"value": "hand-coins",
							"label": "Hand with Coins"
						},
						{
							"value": "hand-heart",
							"label": "Hand with Heart"
						},
						{
							"value": "handshake",
							"label": "Handshake"
						},
						{
							"value": "heart",
							"label": "Heart"
						},
						{
							"value": "headset",
							"label": "Headset"
						},
						{
							"value": "peace",
							"label": "Peace"
						},
						{
							"value": "people",
							"label": "People"
						},
						{
							"value": "person",
							"label": "Person"
						},
						{
							"value": "phone",
							"label": "Phone"
						},
						{
							"value": "question",
							"label": "Question"
						},
						{
							"value": "shield",
							"label": "Shield"
						},
						{
							"value": "smiley-face",
							"label": "Smiley Face"
						},
						{
							"value": "sparkle",
							"label": "Sparkle"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "success",
							"label": "Success"
						},
						{
							"value": "thumbs-up",
							"label": "Thumbs Up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "user-plus",
							"label": "User Plus"
						}
					],
					"default": "globe"
				},
				{
					"type": "text",
					"id": "guarantee_1_text",
					"label": "Guarantee 1 Text",
					"default": "Worldwide Shipping"
				},
				{
					"type": "select",
					"id": "guarantee_2_icon",
					"label": "Guarantee 2 Icon",
					"options": [
						{
							"value": "back",
							"label": "Back"
						},
						{
							"value": "box",
							"label": "Box"
						},
						{
							"value": "certification",
							"label": "Certification"
						},
						{
							"value": "checkmark-circle",
							"label": "Checkmark Circle"
						},
						{
							"value": "checkmark",
							"label": "Checkmark"
						},
						{
							"value": "clockwise",
							"label": "Clockwise"
						},
						{
							"value": "coins",
							"label": "Coins"
						},
						{
							"value": "credit-card",
							"label": "Credit Card"
						},
						{
							"value": "cube",
							"label": "Cube"
						},
						{
							"value": "discount",
							"label": "Discount"
						},
						{
							"value": "dollar-bill",
							"label": "Dollar Bill"
						},
						{
							"value": "globe",
							"label": "Globe"
						},
						{
							"value": "hand-coins",
							"label": "Hand with Coins"
						},
						{
							"value": "hand-heart",
							"label": "Hand with Heart"
						},
						{
							"value": "handshake",
							"label": "Handshake"
						},
						{
							"value": "heart",
							"label": "Heart"
						},
						{
							"value": "headset",
							"label": "Headset"
						},
						{
							"value": "peace",
							"label": "Peace"
						},
						{
							"value": "people",
							"label": "People"
						},
						{
							"value": "person",
							"label": "Person"
						},
						{
							"value": "phone",
							"label": "Phone"
						},
						{
							"value": "question",
							"label": "Question"
						},
						{
							"value": "shield",
							"label": "Shield"
						},
						{
							"value": "smiley-face",
							"label": "Smiley Face"
						},
						{
							"value": "sparkle",
							"label": "Sparkle"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "success",
							"label": "Success"
						},
						{
							"value": "thumbs-up",
							"label": "Thumbs Up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "user-plus",
							"label": "User Plus"
						}
					],
					"default": "hand-coins"
				},
				{
					"type": "text",
					"id": "guarantee_2_text",
					"label": "Guarantee 2 Text",
					"default": "100% Money-Back Guarantee"
				},
				{
					"type": "select",
					"id": "guarantee_3_icon",
					"label": "Guarantee 3 Icon",
					"options": [
						{
							"value": "back",
							"label": "Back"
						},
						{
							"value": "box",
							"label": "Box"
						},
						{
							"value": "certification",
							"label": "Certification"
						},
						{
							"value": "checkmark-circle",
							"label": "Checkmark Circle"
						},
						{
							"value": "checkmark",
							"label": "Checkmark"
						},
						{
							"value": "clockwise",
							"label": "Clockwise"
						},
						{
							"value": "coins",
							"label": "Coins"
						},
						{
							"value": "credit-card",
							"label": "Credit Card"
						},
						{
							"value": "cube",
							"label": "Cube"
						},
						{
							"value": "discount",
							"label": "Discount"
						},
						{
							"value": "dollar-bill",
							"label": "Dollar Bill"
						},
						{
							"value": "globe",
							"label": "Globe"
						},
						{
							"value": "hand-coins",
							"label": "Hand with Coins"
						},
						{
							"value": "hand-heart",
							"label": "Hand with Heart"
						},
						{
							"value": "handshake",
							"label": "Handshake"
						},
						{
							"value": "heart",
							"label": "Heart"
						},
						{
							"value": "headset",
							"label": "Headset"
						},
						{
							"value": "peace",
							"label": "Peace"
						},
						{
							"value": "people",
							"label": "People"
						},
						{
							"value": "person",
							"label": "Person"
						},
						{
							"value": "phone",
							"label": "Phone"
						},
						{
							"value": "question",
							"label": "Question"
						},
						{
							"value": "shield",
							"label": "Shield"
						},
						{
							"value": "smiley-face",
							"label": "Smiley Face"
						},
						{
							"value": "sparkle",
							"label": "Sparkle"
						},
						{
							"value": "star",
							"label": "Star"
						},
						{
							"value": "success",
							"label": "Success"
						},
						{
							"value": "thumbs-up",
							"label": "Thumbs Up"
						},
						{
							"value": "trophy",
							"label": "Trophy"
						},
						{
							"value": "truck",
							"label": "Truck"
						},
						{
							"value": "user-plus",
							"label": "User Plus"
						}
					],
					"default": "back"
				},
				{
					"type": "text",
					"id": "guarantee_3_text",
					"label": "Guarantee 3 Text",
					"default": "Free Returns"
				}
			]
		},
		{
			"type": "divider",
			"name": "Divider"
		}
	],
	"settings": [
		{
			"type": "header",
			"content": "Desktop font size"
		},
		{
			"type": "range",
			"id": "heading_font_size",
			"min": 12,
			"max": 64,
			"step": 2,
			"unit": "px",
			"label": "Heading font size",
			"default": 32
		},
		{
			"type": "range",
			"id": "body_font_size",
			"min": 12,
			"max": 40,
			"step": 2,
			"unit": "px",
			"label": "Body font size",
			"default": 16
		},
		{
			"type": "header",
			"content": "Mobile font size"
		},
		{
			"type": "range",
			"id": "mobile_heading_font_size",
			"min": 12,
			"max": 64,
			"step": 2,
			"unit": "px",
			"label": "Heading font size",
			"default": 24
		},
		{
			"type": "range",
			"id": "mobile_body_font_size",
			"min": 12,
			"max": 40,
			"step": 2,
			"unit": "px",
			"label": "Body font size",
			"default": 14
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "pp_heading_color",
			"label": "Heading Text color",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "pp_body_color",
			"label": "Body Text color",
			"default": "#333333"
		},
		{
			"type": "color",
			"id": "pp_brand_color",
			"label": "Brand color",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "pp_button_background_color",
			"label": "Button background color",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "pp_button_text_color",
			"label": "Button text color",
			"default": "#ffffff"
		},
		{
			"type": "header",
			"content": "Border radius"
		},
		{
			"type": "range",
			"id": "pp_border_radius",
			"min": 0,
			"max": 50,
			"step": 1,
			"label": "Border radius",
			"default": 4
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Top padding",
			"default": 28
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Bottom padding",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Top padding (mobile)",
			"default": 12
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Bottom padding (mobile)",
			"default": 0
		}
	]
}
{% endschema %}
