{% style %}
	.section-{{ section.id }}-padding {
	  padding-top: {{ section.settings.padding_top_mobile }}px;
	  padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}
	.section-{{ section.id }}-margin {
	  margin-top: {{ section.settings.margin_top_mobile }}px;
	  margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
	}

	@media screen and (min-width: 750px) {
	  .section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	  }
	  .section-{{ section.id }}-margin {
	    margin-top: {{ section.settings.margin_top }}px;
	    margin-bottom: {{ section.settings.margin_bottom }}px;
	  }
	}

	  .pp-element-size {
	  width: 175px;
	}

	@media screen and (max-width: 640px) {
	  .pp-element-size {
	    width: 125px;
	  }
	}
{% endstyle %}

{% assign section_background = '' %}

{% if section.settings.section_background != blank %}
	{% assign section_background = 'background: ' | append: section.settings.section_background | append: ';' %}
{% endif %}

{% assign current_product = product %}

{% if section.settings.collection != blank %}
	{% assign category_to_use = section.settings.collection %}
	{% assign categoryProducts = category_to_use.products | where: 'available' %}
  {% elsif product.collections.size > 0 %}
	{% assign category_to_use = product.collections.first %}
	{% assign categoryProducts = category_to_use.products | where: 'available' %}
  {% else %}
	{% assign first_collection = collections | first %}
	{% assign categoryProducts = first_collection.products | where: 'available' %}
  {% endif %}

{% assign filtered_products = categoryProducts | where: 'available' %}
{% assign filtered_products = filtered_products | where_not: 'id', current_product.id %}

{% assign desktop_content_alignment = section.settings.desktop_content_alignment %}
{% assign mobile_content_alignment = section.settings.mobile_content_alignment %}

{% if filtered_products.size > 0 %}
	<div
		class='pagepilot-section pagepilot-recommended-products section-{{ section.id }}-padding section-{{ section.id }}-margin'
		style='{{ section_background }}'>
		<div class='pagepilot-wrapper'>
			<div class='pp-container pp-mx-auto pp-w-full'>
				<div class='pp-flex pp-flex-col pp-gap-6'>
					<h2 class='pp-text-heading-lg sm:pp-text-heading-2xl pp-font-semibold pp-text-{{ mobile_content_alignment }} md:pp-text-{{ desktop_content_alignment }}'>
						{{ section.settings.heading }}
					</h2>
				</div>

				<div class='pp-w-full pp-flex pp-overflow-x-auto pp-pb-4 pp-no-scrollbar pp-mt-10'>
					<div class='pp-flex pp-gap-6 sm:pp-gap-10 pp-min-w-max'>
						{% for product in filtered_products limit: 20 %}
							{% if product.id == current_product.id or product.available == false %}
								{% continue %}
							{% endif %}
							<a
								href='{{ product.url | within: collection }}'
								class='pp-flex pp-flex-col pp-gap-2 pp-element-size'>
								{% if product.featured_image %}
									<img
										width='100%'
										height='100%'
										src='{{ product.featured_image | img_url: '600x' }}'
										alt='Product placeholder'
										class='pp-w-full'
										style='border-radius: var(--pp-border-radius);'>
								{% else %}
									{{
										'product-1'
										| placeholder_svg_tag: 'pp-w-full pp-border pp-border-gray-200'
										| replace: '<svg', '<svg style="border-radius: var(--pp-border-radius);"'
									}}
								{% endif %}

								<div class='pp-flex pp-flex-col pp-gap-2 pp-mt-2'>
									<div class='pp-font-medium pp-text-lg'>{{ product.title }}</div>
									<div class='pp-flex pp-gap-2'>
										<div class='pp-text-base'>{{ product.price | money }}</div>
										{% if product.compare_at_price > product.price %}
											<div class='pp-text-base pp-line-through pp-opacity-50'>
												{{ product.compare_at_price | money }}
											</div>
										{% endif %}
									</div>
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% schema %}
{
	"name": "PP Recommended Products",
	"class": "section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Recommended Products"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "Collection",
			"info": "Select a collection to show products from. If its blank it gets the first available collection"
		},
		{
			"type": "select",
			"id": "desktop_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Desktop content alignment"
		},
		{
			"type": "select",
			"id": "mobile_content_alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center",
			"label": "Mobile content alignment"
		},
		{
			"type": "color_background",
			"id": "section_background",
			"label": "Background color"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top margin (mobile)",
			"default": 30
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom margin (mobile)",
			"default": 0
		}
	],
	"presets": [
		{
			"name": "PP Recommended Products"
		}
	]
}
{% endschema %}
